.footer {
  padding: 80px 0;
  background: var(--black, #2d2d2d);
  color: #fff;
}

.footer__container {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr 3fr;
  grid-template-rows: 307px 52px;
  gap: 50px 0px;
}

.footer__logo {
  justify-self: start;
  align-self: start;
}

.footer__catalog {
  padding: 0 0 0 12px;
}

.footer__catalog, .footer__for-buyers {
  display: flex;
  flex-direction: column;
}

.footer__title {
  margin: 0 0 40px 0;
  font-size: 32px;
  line-height: 130%;
  font-weight: 700;
}

.footer__list {
  max-height: 225px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 42px;
  align-self: start;
}

.footer__item {
  display: inline-block;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}

.footer__item:not(:nth-child(5n)) {
  margin: 0 0 15px 0;
}

.footer__link {
  transition: opacity .2s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__contacts {
  margin: 0 0 0 -5px;
}

.footer__contacts,
.footer__copyright,
.footer__creator {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.footer__phone {
  margin: 0 0 21px 0;
}

.footer__email {
  margin: 0 0 36px 0;
}

.footer__social {
  display: flex;
  gap: 20px;
}

.footer__icon {
  height: 26px;
  width: 26px;
}

.footer__social-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: opacity .2s ease;
}

.footer__social-link:hover {
  opacity: 0.7;
}

.footer__social-link_type_whatsapp {
  background: url('./img/whatsapp.svg') center no-repeat;
}

.footer__social-link_type_instagram {
  background: url('./img/instagram.svg') center no-repeat;
}

.footer__social-link_type_youtube {
  background: url('./img/youtube.svg') center no-repeat;
}

.footer__social-link_type_facebook {
  background: url('./img/facebook.svg') center no-repeat;
}

.footer__social-link_type_telegram {
  background: url('./img/telegram.svg') center no-repeat;
}

.footer__creator {
  grid-column: 4;
}

.footer__creator-name {
  margin: 0 0 10px 0;
}

@media (max-width: 1700px) {
  .footer {
    padding: 60px 0 40px 0;
  }

  .footer__container {
    grid-template-rows: 240px 52px;
  }

  .footer__logo {
    font-size: 23px;
  }

  .footer__catalog {
    padding: 0;
  }

  .footer__contacts {
    margin: 0;
  }

  .footer__title {
    margin: 0 0 30px 0;
    font-size: 28px;
  }

  .footer__list {
    max-height: 170px;
  }

  .footer__item {
    font-size: 16px;
  }

  .footer__item:not(:nth-child(5n)) {
    margin: 0 0 10px 0;
  }
}