.promo {
  padding: 63px 0 0 0;
  margin: 0 0 50px 0;
}

.promo__list {
  display: grid;
  grid-template-rows: 480px 550px 550px;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  grid-template-areas: 
  "block-one block-one block-one"
  "block-two block-three block-four"
  "block-five block-five block-six"
  ;
}

.promo__link {
  display: block;
  min-width: 100%;
  min-height: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.promo__card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .6s ease;
}

.promo__link:hover .promo__card-background {
  transform: scale(1.04);
}

.promo__link:hover > .block-three__text {
  color: #38c0eb;
  background-color: #fff;
}

.promo__link:hover > .block-five__text  {
  color: #fff;
  background-color: #f91155;
}

.promo__card_type_triple-horizontal {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  grid-template-areas: 
  "card-top-left card-top-right"
  "card-bottom card-bottom"
  ;
}

.promo__card_type_double-horizontal {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  gap: 60px;
  grid-template-areas: 
  "card-top"
  "card-bottom"
  ;
}

.promo__card_type_triple-vertical {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  grid-template-areas: 
  "card-left card-top-right"
  "card-left card-bottom-right"
  ;
}

@media (max-width: 1450px) {
  .promo {
    padding: 26px 0 0 0;
  }

  .promo__list {
    grid-template-rows: 314px 418px 410px 418px;
    grid-template-columns: 232fr 223fr;
    gap: 22px 30px;
    grid-template-areas: 
    "block-one block-one"
    "block-two block-three"
    "block-four block-six"
    "block-five block-five"
    ;
  }

  .promo__card_type_triple-horizontal {
    gap: 22px 30px;
  }

  .promo__card_type_double-horizontal {
    gap: 22px;
  }

  .promo__card_type_triple-vertical {
    gap: 22px 30px;
  }

  .promo__link {
    border-radius: 16px;
  }
}

@media (max-width: 950px) {
  .promo {
    padding: 25px 0 0 0;
  }

  .promo__list {
    grid-template-rows: 280px 280px 275px 340px;
    grid-template-columns: 15fr 19fr;
    gap: 22px 20px;
  }

  .promo__card_type_triple-horizontal {
    gap: 22px 20px;
  }

  .promo__card_type_triple-vertical {
    gap: 12px 20px;
  }
}

@media (max-width: 650px) {
  .promo {
    padding: 20px 0 0 0;
  }

  .promo__list {
    grid-template-rows: 340px 258px 206px 254px 195px 123px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "block-one block-one"
    "block-two block-two"
    "block-three block-three"
    "block-four block-four"
    "block-six block-six"
    "block-five block-five"
    ;
  }

  .promo__card_type_triple-horizontal {
    gap: 20px;
  }

  .promo__card_type_double-horizontal {
    gap: 20px;
  }

  .promo__card_type_triple-vertical {
    gap: 6px 20px;
  }

  .promo__link {
    border-radius: 8px;
  }
}